/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
}

/* STYLES */
body {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 48px;
}

input {
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    color: red;
    border: none;
    background-color: transparent;
}